<div #responsiveTable class="responsive-table-wrapper" (resized)="onResized()">
  <div *ngIf="useSearch" class="responsive-table-search">
    <div class="responsive-table-search-input">
      <input #input type="text" placeholder="Search..." (input)="onSearch(input.value)" [style.padding-right]="input.value ? '38px' : ''" />

      <div *ngIf="input.value" class="responsive-table-search-input-clear" (click)="onClear(input)">
        <div class="responsive-flex-wrapper">
          <i class="material-icons">close</i>
        </div>
      </div>
    </div>
  </div>

  <ng-container *ngIf="!mobile">
    <div class="responsive-table" (scroll)="onTableScroll($event)">
      <div #fixedTableHeaders class="responsive-table-fixed-headers">
        <div
          class="responsive-table-header"
          *ngFor="let tableHeader of tableHeaders; let i = index"
          (click)="tableHeader.dataType !== dataType.Template ? sort(tableHeader, i) : undefined"
        >
          {{ tableHeader.title }}

          <div class="responsive-flex-wrapper" *ngIf="tableHeader.dataType !== dataType.Template">
            <i class="material-icons">{{ !ascendingByTableHeaderIndex[i] ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</i>
          </div>
        </div>
        <div class="responsive-table-header" *ngIf="selectableObjects">
          <app-checkbox [isChecked]="allSelected" (checked)="onSelectUnselectAll($event)"></app-checkbox>
        </div>
      </div>

      <table>
        <tr #trTableHeaders class="responsive-table-headers">
          <th *ngFor="let tableHeader of tableHeaders; let i = index" (click)="tableHeader.dataType !== dataType.Template ? sort(tableHeader, i) : undefined">
            <div class="responsive-table-header">
              {{ tableHeader.title }}

              <div class="responsive-flex-wrapper" *ngIf="tableHeader.dataType !== dataType.Template">
                <i class="material-icons">{{ !ascendingByTableHeaderIndex[i] ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</i>
              </div>
            </div>
          </th>
          <th *ngIf="selectableObjects">
            <app-checkbox [isChecked]="allSelected" (checked)="onSelectUnselectAll($event)"></app-checkbox>
          </th>
        </tr>
        <tr *ngFor="let object of getPaginatedObjects()" (click)="wholeRowSelection ? onSelectUnselectSingle(object) : onObjectClicked(object)">
          <ng-container *ngFor="let property of getObjectEnumeratedProperties(object)">
            <ng-container *ngIf="property.tableHeader.dataType !== dataType.Template">
              <td [innerHTML]="property.property | safeHtml"></td>
            </ng-container>
            <ng-container *ngIf="property.tableHeader.dataType === dataType.Template">
              <td>
                <ng-template [ngTemplateOutlet]="property.tableHeader.template" [ngTemplateOutletContext]="object"></ng-template>
              </td>
            </ng-container>
          </ng-container>

          <td *ngIf="selectableObjects">
            <app-checkbox [isChecked]="objectIsSelected(object)" (checked)="onSelectUnselectSingle(object)" (click)="$event.stopPropagation()"></app-checkbox>
          </td>
        </tr>
      </table>
    </div>
  </ng-container>
  <ng-container *ngIf="mobile">
    <swiper (sliderMove)="equalizeMobileRowsContainersScrolls()">
      <div class="responsive-table-mobile" *ngFor="let tableHeader of tableHeaders; let i = index">
        <div #mobileHeader class="responsive-table-mobile-row" [style.padding-right]="'calc(10px + ' + calculatePaddingRight() + 'px)'"  (click)="sort(tableHeader, i)">
          <div class="responsive-table-mobile-row-content">
            <strong>{{ tableHeader.title }}</strong>
            <div class="responsive-flex-wrapper">
              <i class="material-icons">{{ !ascendingByTableHeaderIndex[i] ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}</i>
            </div>
          </div>
          <div class="responsive-table-mobile-row-checkbox" *ngIf="selectableObjects">
            <app-checkbox [isChecked]="allSelected" (checked)="onSelectUnselectAll($event)" (click)="$event.stopPropagation()"></app-checkbox>
          </div>
        </div>

        <div #mobileRowsContainer class="responsive-table-mobile-rows">
          <div
            #mobileRow
            class="responsive-table-mobile-row responsive-table-mobile-row-colored"
            *ngFor="let object of getPaginatedObjects()"
            (click)="wholeRowSelection ? onMobileObjectRowClick($event, object) : onObjectClicked(object)"
          >
            <ng-container *ngIf="tableHeader.dataType !== dataType.Template">
              <div class="responsive-table-mobile-row-content" [innerHTML]="object[tableHeader.property] | safeHtml"></div>
            </ng-container>
            <ng-container *ngIf="tableHeader.dataType === dataType.Template">
              <div class="responsive-table-mobile-row-content">
                <ng-template [ngTemplateOutlet]="tableHeader.template" [ngTemplateOutletContext]="object"></ng-template>
              </div>
            </ng-container>

            <div class="responsive-table-mobile-row-checkbox" *ngIf="selectableObjects">
              <app-checkbox [isChecked]="objectIsSelected(object)" (checked)="onSelectUnselectSingle(object)" (click)="$event.stopPropagation()"></app-checkbox>
            </div>
          </div>
        </div>
      </div>
    </swiper>
  </ng-container>

  <app-pagination [currentPage]="page" [total]="filteredObjects.length" [limit]="objectsPerPage" (pageChange)="onPageChanged($event)"></app-pagination>
</div>
