<div class="pages-wrapper">
  <div class="page-wrapper" (click)="navigateToStart()">
    <div class="responsive-flex-wrapper">
      <i class="material-icons">first_page</i>
    </div>
  </div>
  <div class="page-wrapper" (click)="navigate(currentPage - 1)">
    <div class="responsive-flex-wrapper">
      <i class="material-icons">keyboard_arrow_left</i>
    </div>
  </div>
  <div class="page-wrapper" *ngFor="let page of pages" (click)="navigate(page)" [class.selected]="currentPage === page">{{ page + 1 }}</div>
  <div class="page-wrapper" (click)="navigate(currentPage + 1)">
    <div class="responsive-flex-wrapper">
      <i class="material-icons">keyboard_arrow_right</i>
    </div>
  </div>
  <div class="page-wrapper" (click)="navigateToEnd()">
    <div class="responsive-flex-wrapper">
      <i class="material-icons">last_page</i>
    </div>
  </div>
</div>
