.pages-wrapper {
  display: flex;
}

.page-wrapper {
  width: 52px;
  height: 35px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid #e0e0e0;
  word-wrap: break-word;
  overflow: hidden;
  user-select: none;
  color: #666666;
  cursor: pointer;

  &:hover {
    background-color: #7fe04e;
    color: white;
    border-color: #7fe04e;
  }

  &.selected {
    background-color: #7fe04e;
    color: white;
    border-color: #7fe04e;
  }

  &:first-child {
    border-radius: 6px 0 0 6px;
  }

  &:last-child {
    border-radius: 0 6px 6px 0;
  }
}
