@import '~bootstrap/dist/css/bootstrap.min.css';

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
  height: 100%;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.responsive-flex-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
